<template>
  <div id="app">
    <MainLaout></MainLaout>
  </div>
</template>

<script>
import MainLaout from './components/MainLaout.vue'
export default {
  components: {
    MainLaout
  }
}
</script>
