<template>
  <div class="about">
    <h1>Mr. Utsadawut Sangthong</h1>
    <h4>__________________________________________________</h4>
    <h3>ID : 60160150</h3>
    <h5>คณะวิทยาการสารสนเทศ สาขาวิทยาการคอมพิวเตอร์</h5>
    <h5>ผมไม่ได้ดูดีขึ้น แต่ผมแต่งรูปดก่งขึ้น อิอิ</h5>
    <b-img
      :src="require('../assets/01.jpg')"
      width="500px"
      height="500px"
    ></b-img>
  </div>
</template>
